<launch>
    <node pkg="jipda" type="jipda_node" name="jipda_node" output="screen">
        
        <!-- General parameters -->
        <param name="subs_topic" type="string" value="lrrObjects" />
        <param name="marker_pub_topic" type="string" value="meas_markers" />
        <param name="rate" type="int" value="100" />
        <param name="meas_length" type="int" value="14" />
        <param name="draw" type="bool" value="true" />

        <!--  Algorithm params -->
        <param name="proc_var" type="double" value="5.0" />
        <param name="meas_var" type="double" value="1.0" />
        
    </node>
     <!--  -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d ~/ros_ws/src/jipda_ros/jipda/rviz/markers.rviz" />
</launch>